* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

body {
    font-family: "Quicksand", sans-serif;
}

.header__wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;
}

.header__search {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.main__logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.02em;
    color: #000000;
}

.explore__button {
    display: flex;
    column-gap: 8px;

    padding: 10px 12px;

    background-color: #0F8277;
    border: none;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #EEEEEE;

    cursor: pointer;
}
.explore__button::after {
    content: "";
    width: 10px;
    height: 14px;
    background-image: url(../icons/Arrow-down.svg);
    background-repeat: no-repeat;
    object-fit: cover;
}
.explore__button:focus + .menu__navigation {
    display: block;
}

/* Додаткове меню */

.menu__navigation {
    display: none;
    width: 384px;
    position: absolute;
    top: 46px;
    left: 189px;

    padding: 16px 12px 33px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.root__menu-link,
.root__navigation-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #000000;
}
.menu__navigation .root__menu .root__menu-item:first-child {
    margin-bottom: 16px;
}

.root__menu {
    padding-bottom: 40px;
    border-bottom: 1px solid #000000;
}

.root__navigation-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #000000;

    margin-block: 40px 24px;
}

.root__navigation-item:not(:last-child) {
    margin-bottom: 16px;
}

/* Додаткове меню */

.search__wrapper {
    display: flex;
    align-items: center;
}

.search__field {
    padding: 8.5px 12px 8.5px 12px;
    width: calc(330px - 36px);
     
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    
    border: 1px solid #5C5C5C;
    border-radius: 4px 0 0 4px;
}
.search__field::placeholder {
    color: #5C5C5C;
}
.search__field:focus {
    outline: none;
}

.search__button {
    display: flex;
    justify-content: center;
    border: none;
    border-bottom: 1px solid #5C5C5C;
    border-top: 1px solid #5C5C5C;
    border-right: 1px solid #5C5C5C;
    border-radius: 0 4px 4px 0;
    padding: 10px;
    background-color: #0F8277;
}

.header__navigation {
    display: flex;
    align-items: center;
    column-gap: 104px;
}

.header__navigation-items {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

.header__list-links {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #000000;
}

.authorization__wrapper {
    display: flex;
    column-gap: 16px;
}

.login-link {
    display: inline-block;
    padding: 10px 12px;

    
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
    color: #0F8277;
}

.signup-link {
    display: inline-block;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0F8277;

    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
    color: #EEEEEE;
}

.proposition {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 94px;

    border-radius: 12px;
    background-color: #DBF3ED;

    padding-block: 39px 30px;
    margin-block: 31px 80px;
}

.proposition__content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.proposition__title {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    color: #000000;
}

.proposition__text {
    width: 482px;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    color: #000000;
}

.proposition__buttons {
    display: flex;
    column-gap: 24px;
}

.startlearning__button,
.learmmore__button {
    display: flex;
    align-items: center;
    
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    
    padding: 10px 12px;
    border-radius: 4px;
}
.startlearning__button {
    background-color: #0F8277;
    color: #EEEEEE;
}
.learmmore__button {
    color: #0F8277;
    border: 2px solid #0F8277;
}

/* Робота над секцією з програмами */

.project__subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #0F8277;

    margin-bottom: 12px;
}

.project__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000000;

    margin-bottom: 12px;
}

.project__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
}

.programs__list {
    display: flex;
    justify-content: space-between;

    margin-block: 40px 80px;
}

.program__list-item {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #DADADA;
}

.program__item-img {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.program__item-info {
    padding: 24px 16px;
}

.project__item-subtitle {
    display: flex;
    column-gap: 12px;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #000000;

    margin-bottom: 16px;
}
.program__item-link:nth-child(2) .project__item-subtitle::before {
    content: "";
    width: 18.15px;
    height: 20px;
    background-image: url(../icons/eu_logo.svg);
    background-repeat: no-repeat;
}
.program__item-link:nth-child(1) .project__item-subtitle::before {
    content: "";
    width: 72px;
    height: 20px;
    background-image: url(../icons/dan-logo\ 1.svg);
    background-repeat: no-repeat;
}
.program__item-link:nth-child(3) .project__item-subtitle::before {
    content: "";
    width: 46.23px;
    height: 20px;
    background-image: url(../icons/logo-prjctr.svg);
    background-repeat: no-repeat;
}

.project__item-title {
    width: 384px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #000000;
}

.diploma__text {
    display: flex;
    column-gap: 12px;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #0F8277;

    margin-top: 77px;
}
.diploma__text::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../icons/diploma.svg);
    background-repeat: no-repeat;
}
.program__item-link:nth-child(3) .diploma__text {
    margin-top: 48px;
}

/* Робота над секцією з курсами */

.courses__list {
    display: flex;
    justify-content: space-between;

    margin-block: 40px;
}

.courses__list-item {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #DADADA;
}

.courses__item-img {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.courses__item-info {
    padding: 24px 16px;
}

.courses__item-info .project__item-title {
    width: 274px;
}

.courses__item-link .project__item-subtitle::before {
    content: "";
    width: 72px;
    height: 20px;
    background-image: url(../icons/dan-logo\ 1.svg);
    background-repeat: no-repeat;
}

.course__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #0F8277;

    margin-top: 84px;
}

.courses__item-link:nth-child(2) .course__text {
    margin-top: 57px;
}
.courses__item-link:nth-child(4) .course__text {
    margin-top: 57px;
}

.morecontent__button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;

    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #0F8277;

    margin-bottom: 80px;
}
.morecontent__button::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../icons/arrow-right.svg);
    background-repeat: no-repeat;
}

/* Робота над секцією з категоріями */

.categoty__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000000;
}

.category__list {
    display: flex;
    justify-content: space-between;

    margin-block: 40px;
}

.category__list-item {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.category__list-item .project__item-title {
    width: 306px;
}

.category__subject-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #0F8277;
    
    margin-bottom: 10px;
}

.category__subject-students {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #000000;
}

/* Робота над секцією з компаніями */

.companies {
    padding-block: 80px;
    background-color: #DBF3ED;

    margin-bottom: 80px;
}

.companies__title {
    width: 871px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #000000;

    margin: 0 auto;
}

.companies__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 60px;
}

.companies__list .companies__images:nth-child(2) {
    padding-inline: 10px;
}
.companies__list .companies__images:nth-child(3) {
    padding-inline: 10px;
}

/* Робота над секцією з партнерами */

.business {
    display: flex;
    justify-content: center;
    column-gap: 72px;
    align-items: center;

    margin-bottom: 70px;
}

.business__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000000;

    margin-bottom: 32px;
}

.business__text {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    color: #000000;

    margin-bottom: 32px;
}

.business__contact-button {
    display: inline-block;

    padding: 10px 12px;

    background-color: #0F8277;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
    color: #EEEEEE;
}

.business__partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.business__partners-images {
    text-align: center;
}
.business__partners-images:nth-child(1) {
    padding: 54.5px 23px;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}
.business__partners-images:nth-child(2) {
    padding: 37px 67px;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}
.business__partners-images:nth-child(3) {
    padding-block: 28px;
    border-bottom: 1px solid #BABABA;
}
.business__partners-images:nth-child(4) {
    padding-block: 44px;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}
.business__partners-images:nth-child(5) {
    padding-block: 39.5px;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}
.business__partners-images:nth-child(6) {
    padding: 47px 22.5px;
    border-bottom: 1px solid #BABABA;
}
.business__partners-images:nth-child(7) {
    padding-block: 51px;
    border-right: 1px solid #BABABA;
}
.business__partners-images:nth-child(8) {
    padding-block: 38px;
    border-right: 1px solid #BABABA;
}
.business__partners-images:nth-child(9) {
    padding-block: 53.5px;
}

/* Робота над секцією з планами */

.plans {
    background-color: #DBF3ED;

    padding-block: 80px 100px;
}

.plans__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #000000;

    margin-bottom: 40px;
}

.plans__type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plans__items {
    display: inline-block;
    width: 416px;
    
    padding: 56px 56px 0 56px;

    background-color: #FDFDFD;

    border-radius: 24px;
    border: 1px solid #0F8277;
}
.plans__items:nth-child(1) {
    padding-bottom: 166px;
}

.plans__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    color: #000000;

    margin-bottom: 27px;
}

.plans__item-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    color: #000000;

    margin-bottom: 27px;
}

.plans__item-price {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;

    margin-bottom: 75px;
}
.plans__price-number {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000000;
}
.plans__price-month {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #000000;
}

.plans__item-link {
    text-align: center;
}

.plans__item-linktext {
    display: inline-block;
    
    padding: 10px 12px;
    margin-bottom: 48px;

    background-color: #0F8277;
    border-radius: 4px;

    font-size: 18px;
    font-weight: 500;
    line-height: 21.87px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #F6FDFF;
}

.plans__item-benefits {
    padding-top: 48px;

    border-top: 2px solid #0F8277;
}

.plans__benefits-text {
    width: 264px;
    padding-left: 32px;
    position: relative;

    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #000000;
}
.plans__benefits-text:first-child {
    padding-bottom: 16px;
}
.plans__benefits-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url(../icons/Check.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.plans__items:nth-child(2) {
    background-color: #0F8277;
    padding-bottom: 56px;
}

.plans__items:nth-child(2) .plans__item-title {
    color: #ffffff;
}
.plans__items:nth-child(2) .plans__item-subtitle {
    color: #ffffff;
}
.plans__items:nth-child(2) .plans__item-price {
    margin-bottom: 27px;
}
.plans__items:nth-child(2) .plans__price-number {
    color: #ffffff;
}
.plans__items:nth-child(2) .plans__price-month{
    color: #ffffff;
}

.plans__items:nth-child(2) .plans__item-linktext {
    padding: 8px 12px;
    border: 2px solid #ffffff;
}

.plans__items:nth-child(2) .plans__item-benefits {
    border-top: 1px solid #ffffff ;
}

.plans__items:nth-child(2) .plans__benefits-text::before {
    background-image: url(../icons/check-white.svg);
}
.plans__items:nth-child(2) .plans__benefits-text:nth-child(2) {
    padding-bottom: 16px;
}
.plans__items:nth-child(2) .plans__benefits-text {
    width: 100%;
    color: #ffffff;
}

.plans__items:last-child {
    padding-bottom: 113px;
}

.plans__items:last-child .plans__item-price {
    margin-bottom: 46px;
}

.plans__items:last-child .plans__benefits-text:nth-child(2) {
    padding-bottom: 16px;
}

/* Робота над секцією зі фотографіями (галерея */

.gallary {
    margin-block: 80px 76.5px;
}

.gallary__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #000000;

    margin-bottom: 40px;
}

.gallary__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 23.5px 24px;
    grid-template-areas: 
    "first ninth ninth eighth"
    "second ninth ninth seventh"
    "third fourth fifth sixth";
}

.gallary__wrapper picture img {
    object-fit: cover;
    width: 100%;
}

.student-first {
    grid-area: first;
}
.student-second {
    grid-area: second;
}
.student-third {
    grid-area: third;
}
.student-fourth {
    grid-area: fourth;
}
.student-fifth {
    grid-area: fifth;
}
.student-sixth {
    grid-area: sixth;
}
.student-seventh {
    grid-area: seventh;
}
.student-eighth {
    grid-area: eighth;
}
.student-ninth {
    grid-area: ninth;
}

/* Робота над секцією з формою */

.root__form {
    position: relative;
    padding-block: 65px 47px;

    background-image: url(../images/Carts/formbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.root__form::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* .form__background-color {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
} */

.contact__form {
    position: relative;

    width: 565px;
    padding: 30px;
    margin: 0 auto;

    background-color: #DBF3ED;
    border-radius: 24px;

    z-index: 2;
}

.form__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #000000;

    margin-bottom: 24px;
}

.form__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #000000;

    margin-bottom: 24px;
}

.field__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;

    margin-bottom: 8px;
}

.contact__field {
    width: 100%;
    padding: 12px;

    background-color: #FDFDFD;
    border: 1px solid #0F8277;
    border-radius: 4px;

    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;

    margin-bottom: 24px;
}
.contact__field::placeholder {
    color: #8E8E8E;
}

.contact__field-message {
    width: 100%;
    padding: 12px 12px 43px 12px;
    margin-bottom: 24px;

    background-color: #FDFDFD;
    border: 1px solid #0F8277;
    border-radius: 4px;

    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;

    resize: none;
}

/* Фокус був добавлений для себе, це не було вимогою! */
.contact__field:focus {
    outline: none;
    box-shadow: 0 0 7px #333333; 
}
.contact__field-message:focus {
    outline: none;
    box-shadow: 0 0 7px #333333; 
}

.submit__form-button {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.87px;
    letter-spacing: 0.04em;
    color: #F6FDFF;

    padding: 10px 77px;

    background-color: #0F8277;
    border-radius: 4px;
    border: none;

    cursor: pointer;
}

/* Робота над футером */

.root__footer {
    padding-block: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__text,
.footer__social {
    width: 306px;
}

.footer__logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.02em;
    color: #000000;

    margin-bottom: 16px;
}

.footer__logo-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #000000;
}

.social__media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;

    margin-bottom: 60px;
}

.social__media-link {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
}
.social__media .social__media-link:nth-child(1) {
    background-image: url(../icons/instagram.svg);
}
.social__media .social__media-link:nth-child(2) {
    background-image: url(../icons/facebook.svg);
}
.social__media .social__media-link:nth-child(3) {
    background-image: url(../icons/linkedin.svg);
}

.footer__rights {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: right;
    color: #000000;
}